@use "/src/styles/abstracts/variables" as *;

.hero {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 5.6rem;
  margin-block: 3.2rem;
  color: $color-white;
  background-color: $color-gray-dark;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  @media (max-width: 768px) {
    gap: 3.2rem;
    padding: 0;
    color: $color-black;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}

.hero::after {
  content: "";
  position: absolute;
  z-index: -10;
  inset: 0;
  background: url("/src/assets/image-hero-large.webp") right / contain no-repeat;

  @media (max-width: 1024px) {
    opacity: 0.5;
    background-size: cover;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.hero__title {
  font-size: 9.6rem;
  font-weight: 500;
  font-family: $ff-heading;
  max-width: 896rem;

  @media (max-width: 768px) {
    font-size: 4.8rem;
  }
}

.hero__text {
  font-size: 2.4rem;
  max-width: 43rem;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.hero__image-mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    border-radius: 0.8rem;
  }
}

.hero__button {
  width: fit-content;
  font-size: 1.8rem;
  padding: 1.2rem 3.2rem;
  color: $color-white;
  background-color: $color-red;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 200ms linear;

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding-block: 0.8rem;
    align-self: center;
  }
}

.hero__button:hover {
  background-color: $color-blue;
}
