// Colors
$color-white: #fff;
$color-black: #000;
$color-gray-light: #c4c4c4;
$color-gray-dark: #232323;
$color-red: #fe142f;
$color-red-tint: #ff4e60;
$color-green: #279e7a;
$color-blue: #3876ac;

// Fonts families
$ff-heading: "DM Sans", sans-serif;
$ff-body: "Roboto", sans-serif;
