@use "/src/styles/abstracts/variables" as *;

body {
  color: $color-black;
  background-color: $color-white;
  font-family: $ff-body;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}

#app {
  max-width: 128rem;
  width: calc(100% - (3rem * 2));
  min-height: 100vh;
  height: 100%;
  margin-inline: auto;
  padding-block: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding-block: 3.2rem;
  }
}

::selection {
  color: $color-white;
  background-color: $color-red-tint;
}
